<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/spark-md5/3.0.0/spark-md5.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/axios/0.21.1/axios.js"></script>

</head>
<body>
hello
<form name="upload" enctype="multipart/form-data">
    <input id="file" type="file" name="video">
    <input id="upload" type="button" value="上传">
</form>
</body>
<script type="text/javascript">
    let bytesPerPiece = 1024 * 1024; // 每个文件切片大小定为1MB .
    //发送请求
    $("#upload").click(upload)

    function upload() {
        let blob = document.getElementById("file").files[0];
        let fileInfoForm = new FormData();
        let fileName = blob.name;
        let fileSize = blob.size;
        fileInfoForm.append("name", fileName);
        fileInfoForm.append("size", fileSize);
        uploadFileInfo(fileInfoForm, function (data) {
            let fileId = data['uuid'];
            startUploadFile(fileId, blob)
        })
    }

    async function countMD5(chunk) {
        return new Promise(function (resolve, reject) {
            let fileReader = new FileReader();
            fileReader.readAsArrayBuffer(chunk);
            let md5Str = '';
            fileReader.onloadend = function () {
                md5Str = SparkMD5.ArrayBuffer.hash(fileReader.result);
                resolve(md5Str)
            };
        })
    }

    async function uploadFileToServer(md5, fileId, blob, index, count) {
        // 给每一片切片设置名字，名字的值为原始名称加索引，这样做是为了让后端可以按照索引顺序合并图片。
        let sliceIndex = blob.name + index;
        // 利用formData来传递数据
        let formData = new FormData();
        formData.append("file", blob);
        return new Promise(function (resolve, reject) {
            axios.interceptors.request.use(function (config) {

                config.metadata = {startTime: new Date()}
                return config;
            }, function (error) {
                return Promise.reject(error);
            });
            axios.interceptors.response.use(function (response) {

                response.config.metadata.endTime = new Date()
                response.duration = response.config.metadata.endTime - response.config.metadata.startTime
                return response;
            }, function (error) {
                error.config.metadata.endTime = new Date();
                error.duration = error.config.metadata.endTime - error.config.metadata.startTime;
                return Promise.reject(error);
            });
            axios.request({
                url: `http://10.55.25.25:9000/file/upload/` + fileId + '/' + md5 + '/' + index,
                method: 'POST',
                data: formData,
            }).then(function (response) {
                console.log(response.duration);
                resolve(response.data);
            }).catch(function (res) {
                console.log("上传失败")
                reject(res);
            });
        });
    }

    function uploadFileInfo(fileInfoForm, successCall, failCall) {
        axios.request({
            url: 'http://10.55.25.25:9000/file/uploadFileInfo',
            method: 'POST',
            data: fileInfoForm,
        }).then(function (response) {
            console.log(response);
            successCall(response.data)
        }).catch(function (response) {
            failCall(response.data);
        });
    }

    function startUploadFile(fileId, blob) {
        let start = 0;
        // 切割的结束位置
        let end;
        // 回调计数器
        let filesize = blob.size;
        //切片总数
        let count = Math.ceil(filesize / bytesPerPiece);
        // 切片的索引
        let index = 0;
        // 启动while循环对文件切片
        let uploadedPiece = 0;
        while (start < filesize) {
            // 设置切片的结束位置
            end = start + bytesPerPiece;
            // 对最后一片数据进行处理（可以省略）
            if (end > filesize) {
                end = filesize;
            }
            // 切割文件
            let chunk = blob.slice(start, end);//切割文件
            let part = ++index;
            let promise = new Promise(async function (resolve, reject) {
                let md5Str = await countMD5(chunk);
                resolve(md5Str);
            });
            promise.then(async function (md5Str) {
                    let uploadStatus = await uploadFileToServer(md5Str, fileId, chunk, part, count);
                    console.log(uploadStatus)
                    if (uploadStatus['msg'] === 'success') {
                        uploadedPiece++;
                    }
                    if (count === uploadedPiece) {
                        console.log("上传结束,请求拼接接口，将切片信息拼接完整，返回图片url");
                        axios.get('http://10.55.25.25:9000/file/newMerge/' + fileId).then(function (response) {
                            console.log(response.data)
                            if (response["failPieces"] !== undefined && response["failPieces"].size !== 0) {
                                for (const failPieces in response["failPieces"]) {
                                    uploadFileToServer(md5Str, fileId, chunk, failPieces, count);
                                }
                            }
                        })
                    }
                }
            )
            start = end;
        }
    }
</script>
</html>