<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/spark-md5/3.0.0/spark-md5.js"></script>
</head>
<body>
  hello
<form name="upload" enctype="multipart/form-data" >
    <input id="file" type="file" name="video">
    <input id="upload" type="button" value="上传">
</form>
</body>
<script type="text/javascript">
    let bytesPerPiece = 1024 * 1024; // 每个文件切片大小定为1MB .
    let totalPieces;   //切片总数
    //发送请求

    $("#upload").click(upload)
    function upload() {

        let blob = document.getElementById("file").files[0];
        let fileId = '';
        // 开始切割的位置
        let start = 0;
        // 切割的结束位置
        let end;
        // 回调计数器
        let count = 0;
        // 文件的大小
        let filesize = blob.size;
        // 文件的名称
        let filename = blob.name;
        let index = 0;  // 切片的索引
        let fileInfoForm = new FormData();
        fileInfoForm.append("name",filename);
        fileInfoForm.append("size",filesize);
        $.ajax({
            url: 'http://localhost:8080/file/uploadFileInfo',
            type: 'POST',
            data: fileInfoForm,
            sync : true,
            processData: false,  // 不处理数据
            contentType: false,  // 不设置内容类型
        }).done(function(res){
            fileId = res;
            console.log(fileId);
        }).fail(function(res) {
            failCall(res);
        });

        //计算文件切片总数
        totalPieces = Math.ceil(filesize / bytesPerPiece);
        // 启动while循环对文件切片
        while(start < filesize) {
            // 设置切片的结束位置
            end = start + bytesPerPiece;
            // 对最后一片数据进行处理（可以省略）
            if(end > filesize) {
                end = filesize;
            }
            // 切割文件
            let chunk = blob.slice(start,end);//切割文件
            countMD5(chunk,function(md5Str){
                uploadFileToServer(md5Str,fileId,chunk,index++,count);
            });
            start = end;
        }
    }

    function countMD5(chunk,callback){
        let fileReader = new FileReader();
        fileReader.readAsArrayBuffer(chunk);
        let md5Str = '';
        fileReader.onloadend = function () {
            md5Str = SparkMD5.ArrayBuffer.hash(fileReader.result);
            callback(md5Str);
        };
    }

    function uploadFileToServer(md5,fileId,blob,index,count){
        // 给每一片切片设置名字，名字的值为原始名称加索引，这样做是为了让后端可以按照索引顺序合并图片。
        let sliceIndex= blob.name + index;
        // 利用formData来传递数据
        let formData = new FormData();
        formData.append("file", blob);
        formData.append("tmpNum",fileId);
        formData.append("index", index);
        formData.append("truthMD5", md5);
        $.ajax({
            url: 'http://localhost:8080/file/upload',
            type: 'POST',
            data: formData,
            processData: false,  // 不处理数据
            contentType: false,  // 不设置内容类型
        }).done(function(res){
            count++;
            if(count==totalPieces){
                console.log("上传结束,请求拼接接口，将切片信息拼接完整，返回图片url");
                $.post('/merge',{id:uuidfolder},function(data){
                    console.log(data);
                })
            }
        }).fail(function(res) {
            console.log("上传失败")
        });
    }

    function uploadFileInfo(formData,successCall,failCall){

    }

</script>
</html>